body {
    background: url(landscape.jpg) no-repeat;
    background-size: cover;
    font-family: arial, sans-serif;
    text-align: center;
    color: white;
}

#nav_wireframe ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

#nav_wireframe ul li {
    float: left;
    width: 200px;
    height: 40px;
    background-color: black;
    opacity: .8;
    filter: alpha (opacity=80); /*IE8 earlier*/
    line-height: 40px;
    text-align: center;
    font-size: 20px;
    margin-right: 2px;
}

#nav_wireframe ul li a {
    text-decoration: none;
    color: white;
    display: block;
}

#nav_wireframe ul li a:hover{
    background-color: green;
}

#nav_wireframe ul li ul li {
    display: none;
}

#nav_wireframe ul li:hover ul li {
    display: block;
}

#nav_wireframe {
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
}

#section p {
    color: black;
}

#box {
	height: 100px;
	width: 100px;
	margin:auto;
}
