body {
    background: url(../images/background.jpg) no-repeat;
}

.head1 {
    color: seagreen;
    font-family: arial, sans-serif;
    text-align: left;
}

.bd {
    margin: auto;
    width: 95%;
    text-align: center;
}

header {
    position:relative;
    display:block;
    max-width:100%;
    height:100%;
    margin:0 auto;
    padding:1rem 5rem;
    background: white;
    color:#fff;
}

header h1 {
    line-height: 45px;
    font-size: 2rem;
    margin: 0;
    display:inline;
    color: white;
}

h1 {
    width: 40%;
    background-color: seagreen;
}

nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    float:right;
    display:inline;
}

nav  li {
    position:relative;
    display:inline-block;
    list-style-type: none;
    font-family: "Open Sans", "Droid Sans", Helvetica, Arial, sans-serif;
    color: #222;
    padding:0 1rem;
}

nav li > a {
    position: relative;
    display: block;
    padding: 10px 15px;
}

nav > li > a:hover,
nav > li > a:focus {
    text-decoration: none;
    background-color: #eee;
}

.bordertop {
    width: 85%;
    height: 2px;
    background-color: grey;
}

h2, ul, p{
    text-align: left;
}

h3 {
    text-align: center;
    color: seagreen;
    font-family: arial, sans-serif;
}

.top_container {
    background: url(../images/background.jpg) no-repeat;
    margin-top: 40px;
    margin-left: 80px;
}

.container{
    background-color: white;
    padding: 25px;
    width: 50%;
    float: left;
}

img.resize {
    width: 25px;
    height: auto;
}

.image{
    width: 100px;
    float: left;
    padding: 0 25px 0 0;
}

.borderconnect {
    background-color: grey;
    height: 2px;
    width: 60%;
    margin-left: 60px;
}

.connect {
    background-color: white;
    width: 35%;
    height: 150px;
    float: left;
    margin-left: 20px;
}

#logo {
    margin-top: 23px;
    display: block;
    margin-left: 80px;
}

#border {
    background-color: seagreen;
    width: auto;
    height: 8px;
    margin-top: 20px;
}

footer {
    background-color: slategray;
    color: white;
    height: 100px;
    justify-content: center;
    display: flex;
    width: auto;
}

.foot {
    bottom: 0;
    position: fixed;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
