body {
    background: url(../images/background.jpg) no-repeat;
}

.border {
    background-color: grey;
    width: 95%;
    height: 2px;
}

h1, h2{
    color: seagreen;
    text-align: center;
}

header {
    position:relative;
    display:block;
    max-width:100%;
    height:100%;
    margin:0 auto;
    padding:1rem 5rem;
    background:white;
    color:#fff;
}
header h1 {
    line-height: 45px;
    font-size: 2rem;
    margin: 0;
    display:inline;
}
nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    float:right;
    display:inline;
}

nav  li {
    position:relative;
    display:inline-block;
    list-style-type: none;
    font-family: "Open Sans", "Droid Sans", Helvetica, Arial, sans-serif;
    color: #222;
    padding:0 1rem;
}
nav li > a {
    position: relative;
    display: block;
    padding: 10px 15px;
}
nav > li > a:hover,
nav > li > a:focus {
    text-decoration: none;
    background-color: #eee;
}

.top_container{
    background-color: white;
    width: 60%;
    height: 800px;
    float: left;
    margin-top: 50px;
    margin-left: 45px;
}

.borderconnect {
    background-color: grey;
    height: 2px;
    width: 60%;
    margin-left: 45px;
}

.connect {
    background-color: white;
}

.rigth_container {
    /* padding-top: 10px; */
    display: inline;
    float: left;
    width: 250px;
    margin-left: 35px;
    margin-top: 31px;
}

.images {
    margin-top: 20px
}

.keeptogether {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    line-height: 0;
    word-spacing: -4px;
}

#logo {
    align-items: center;
    margin-left: 40px;
    margin-right: auto;
    margin-top: 23px;
}