body { 
    font-family:sans-serif; 
    font-weight:bold; 
    font-size:16pt;
    background: url(../images/hangman.jpg) no-repeat;
}

.word-background-color-change {
    transition: all 1s ease-in-out;
}
/* Topmatter */
.topmatter {
    height:210px;    
}
.bottommatter{
    background:#f1f1f1;
    height:auto;
}
/* For the left 'Guess A Letter!' and 'Guessed Letter' boxes. */
.side-container {
    margin-top:45px;
    margin-left:130px;
    width:170px;
    text-align:center;
}
.container-title {
    color:#6f5a2d;
}
.input-area {
    width:75px;
    height:31px;
    margin:auto;
    padding:3pt;
    border: 1px #6f5a2d solid;
    -moz-border-radius:15px;
    -webkit-border-radius:15px;
    border-radius:15px;
    background:#ebe2ce;
}
#letter-input {
    border:1px #6f5a2d solid;
    width:20pt;
    font-size:14pt;
    text-align:center;
}
.guessed-letter {
    color:#792c15;
}
/* Word Box */
.word-box {
    width:250px;
    margin:auto;
    margin-top:25px;
    text-align:center;
}
.word-display {
    background:#ebe2ce;
    border:1px #6f5a2d solid;
    height:31px;
    padding:3pt;
    -moz-border-radius:15px;
    -webkit-border-radius:15px;
    border-radius:15px;
}
.shown-letter {
    border-bottom: 3px #000 solid;
    padding: 0 2px;
    margin: 0 2px;
    color:#1c2025;
}
/* Hangman Area */
.hang-container {
    margin-top:-10px;
    margin-right: 90px; 
    width:200px;
    height:205px;
    float:right;
}
.scaffolding-top {
    width:108px;
    height:5px;
    background:#332915;
}
.scaffolding-left {
    width:5px;
    height:200px;
    background:#332915;
    float:left;
}
.scaffolding-base {
    width:150px;
    height:5px;
    background:#332915;
}
.draw-area {
    width:200px;
    height:200px;
    text-align:center;
}
.rope {
    margin:auto;
    height:25px;
    width:5px;
    background:#a59885;
}
.head {
    margin:auto;
    height:30px;
    width:30px;
    background:#000;
    -webkit-border-radius: 15px;
    -moz-border-radius:15px;
    border-radius:15px;
}
.armbox {
    margin:auto;
    width:100px;
}
.leftarm {
    float:left;
    height:10px;
    width:45px;
    background:#000;
}
.rightarm {
    float:right;
    height:10px;
    width:45px;
    background:#000;
}
.torso {
    margin:auto;
    width:10px;
    height:50px;
    background:#000;
}
.legbox {
    margin:auto;
    height:60px;
    width:30px;
}
.leftleg {
    float:left;
    width:10px;
    height:60px;
    background:#000;
}
.rightleg {
    float:right;
    width:10px;
    height:60px;
    background:#000;
}
.pelvis {
    margin:auto;
    height:10px;
    width:10px;
    background:#000;
}