
#content {
    min-height: 100vh;
    margin: 0 auto -88px;
    background-image: url("../images/background.jpg");
}

i { 
    font-style: italic;
}

h1, h2 {
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-weight: bold;
    color: #4aaaa5;
    border-bottom: 3px solid #dddddd;
}

h1 {
    font-size: 2em;
    padding-bottom: 40px;
    margin-bottom: 20px;
}

h2 {
    font-size: 1.3em;
    padding-bottom: 25px;
}

header {
    width: 100%;
    background-color: white;
    border-bottom: 4px solid #cccccc;
    font-family: 'Georgia', Times, Times New Roman, serif;
    margin-bottom: 40px;
}
    
#myName {
    height: 77px;
    line-height: 77px;
    background-color: #4aaaa5;
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    color: whitesmoke;
}

nav {
    height: 76px;
    float: right;
    background-color: white;
}

.navButton {
    display: inline-block;
    height: 100%;
    line-height: 80px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 1.1em;
    text-align: center;
}

.navButton a {
    color: #999999;
    text-decoration: none;
}

#bodyContent {
    width: 960px;
    margin: 0 auto;
}

#bodyContent::after {
    content: "";
    display: block;
    clear: both;
}

#mainContent {
    width: 100%;
    padding: 40px 30px 40px 30px;
    margin-bottom: 50px;
    background-color: white;
    box-shadow: 4px 4px 15px 2px #333333;
    float: left;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
    font-size: 1.2em;
    line-height: 2em;
}

.left {
    float: left;
}

.right {
    float: right;
}

#contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact textarea, #contact button[type="submit"] { font:400 12px/16px "Open Sans", Helvetica, Arial, sans-serif; }

#contact {
   /*background: #F9F9F9; */
    padding: 25px;
    margin: 50px 0;
    margin-left: 25px;
    /* display: inline-block; */
    box-shadow: auto #333333;
}

#contact h3 {
	color: #4aaaa5;
	display: block;
	font-size: 30px;
	font-weight: 400;
}

#contact h4 {
	margin:5px 0 15px;
	display:block;
	font-size:13px;
}

fieldset {
	border: medium none !important;
	margin: 0 0 10px;
	min-width: 100%;
	padding: 0;
	width: 100%;
}

#contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact textarea {
	width:100%;
	border:1px solid #CCC;
	background:#FFF;
	margin:0 0 5px;
	padding:10px;
}

#contact input[type="text"]:hover, #contact input[type="email"]:hover, #contact input[type="tel"]:hover, #contact input[type="url"]:hover, #contact textarea:hover {
	-webkit-transition:border-color 0.3s ease-in-out;
	-moz-transition:border-color 0.3s ease-in-out;
	transition:border-color 0.3s ease-in-out;
	border:1px solid #AAA;
}

#contact textarea {
	height:100px;
	max-width:100%;
  resize:none;
}

#contact button[type="submit"] {
	cursor:pointer;
	width:100%;
	border:none;
	background:#4aaaa5;
	color:#FFF;
	margin:0 0 5px;
	padding:10px;
	font-size:15px;
}

#contact button[type="submit"]:hover {
	background: seagreen;
	-webkit-transition:background 0.3s ease-in-out;
	-moz-transition:background 0.3s ease-in-out;
	transition:background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active { box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.5); }

#contact input:focus, #contact textarea:focus {
	outline:0;
	border:1px solid #999;
}
::-webkit-input-placeholder {
 color:#888;
}
:-moz-placeholder {
 color:#888;
}
::-moz-placeholder {
 color:#888;
}
:-ms-input-placeholder {
 color:#888;
}

#sideBar {
    padding: 40px 30px 40px 30px;
    background-color: white;
    box-shadow: 4px 4px 15px 2px #333333;
    float: right;
    margin-bottom: 50px;
}

#sideBar a {
    text-decoration: none;
}

.socialIcon {
    width: 60px;
    height: 60px;
}

.socialIcon div {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 60px;
    height: 60px;
}

#gitHubIconBlack {
    background-image: url("../images/git.jpeg");
    background-size: contain;
    transition: opacity .3s ease;
}

#gitHubIconRed {
    background-image: url("../images/redgithub.png");
    background-size: contain;
}

#gitHubIconBlack:hover {
    opacity: 0;
}

#linkedinIconBlack {
    background-image: url("../images/linked.jpeg");
    background-size: contain;
    transition: opacity .3s ease;
}

#linkedinIconRed {
    background-image: url("../images/redlinked.png");
    background-size: contain;
}

#linkedinIconBlack:hover {
    opacity: 0;
}

#stackIconBlack {
    background-image: url("../images/stackoverflowblack.png");
    background-size: contain;
    transition: opacity .3s ease;
}

#stackIconRed {
    background-image: url("../images/stackoverflow.png");
    background-size: contain;
}

#stackIconBlack:hover {
    opacity: 0;
}

footer, .push {
    height: 80px;
}

footer {
    background-color: #666666;
    border-top: 8px solid #4aaaa5;
    line-height: 80px;
    color: #CCCCCC;
    text-align: center;
}

#copyright {
    margin: 0px;
}

/* Additional Screen Sizes */

/* Width at 980px and below */
@media screen and (max-width: 980px) {
  body {
    background-color: #333;
  }

  .wrapper {
    /* Box-model */
    width: 100%;
    padding: 20px;
  }

  #main-content,
  #sidebar {
    width: 100%;
  }

  #sidebar {
    margin-top: 40px;
  }
}

/* Additional Screen Sizes */

/* Width at 768px and below */
@media screen and (max-width: 768px) {
  body {
    background-color: #333;
  }

  .wrapper {
    /* Box-model */
    width: 100%;
    padding: 20px;
  }

  #main-content,
  #sidebar {
    width: 100%;
  }

  #sidebar {
    margin-top: 40px;
  }
}

/* Width at 640px and below */
@media screen and (max-width: 640px) {
  body {
    background-color: #333;
  }

  .wrapper {
    /* Box-model */
    width: 100%;
    padding: 20px;
  }

  #main-content,
  #sidebar {
    width: 100%;
  }

  #sidebar {
    margin-top: 40px;
  }
}