
#content {
    min-height: 100vh;
    margin: 0 auto -88px;
    background-image: url("../images/background.jpg");
}

i { 
    font-style: italic;
}

h1, h2 {
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-weight: bold;
    color: #4aaaa5;
    border-bottom: 3px solid #dddddd;
}

h1 {
    font-size: 2em;
    padding-bottom: 40px;
    margin-bottom: 20px;
}

h2 {
    font-size: 1.3em;
    padding-bottom: 25px;
}

header {
    width: 100%;
    background-color: white;
    border-bottom: 4px solid #cccccc;
    font-family: 'Georgia', Times, Times New Roman, serif;
    margin-bottom: 40px;
}
    
#myName {
    height: 77px;
    line-height: 77px;
    background-color: #4aaaa5;
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    color: whitesmoke;
}

nav {
    height: 76px;
    float: right;
    background-color: white;
}

.navButton {
    display: inline-block;
    height: 100%;
    line-height: 80px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 1.1em;
    text-align: center;
}

.navButton a {
    color: #999999;
    text-decoration: none;
}

#bodyContent::after {
    content: "";
    display: block;
    clear: both;
}

#mainContent {
    width: 100%;
    padding: 40px 30px 40px 30px;
    margin-bottom: 50px;
    background-color: white;
    box-shadow: 4px 4px 15px 2px #333333;
    float: left;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
    font-size: 1.2em;
    line-height: 2em;
}

#mainContent p {
    margin: 16px 0px 16px 0px;
    text-indent: 30px;
}

#profilePic {
    width: 240px;
    height: 240px;
    float: left;
    margin: 0px 20px 10px 0px;
}

.thumbnail {
    position: relative;
    margin-bottom: 40px;
    cursor: pointer;
    transition: all .8s ease;
}

.thumbnail:hover {
    transform: scale(1.1);
}

.thumbnail img {
    max-width: 100%;
}

.left {
    float: left;
}

.right {
    float: right;
}

.label {
    position: absolute;
    bottom: 20px;
    left: 15px;
    height: 60px;
    line-height: 60px;
    width: calc(100% - 30px);
    text-align: center;
    color: white;
    font-size: 1.2em;
    background-color: rgba(74, 170, 165, .7);
}

form {
    width: 100%;
}

textarea {
    resize: none;
    width: calc(100% - 20px);
    font-size: 1em;
    padding: 5px 5px 5px 15px;
}

input {
    width: calc(100% - 20px);
    padding: 5px 5px 5px 15px;
    font-size: .8em;
}

#submitButton {
    background-color: #4aaaa5;
    border: none;
    color: white;
    font-weight: bold;
    font-size: 1em;
    width: auto;
    padding: 8px 16px 8px 16px;
    cursor: pointer;
}

#sideBar {
    padding: 40px 30px 40px 30px;
    background-color: white;
    box-shadow: 4px 4px 15px 2px #333333;
    float: right;
    margin-bottom: 50px;
}

#sideBar a {
    text-decoration: none;
}

.socialIcon {
    width: 60px;
    height: 60px;
}

.socialIcon div {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 60px;
    height: 60px;
}

#gitHubIconBlack {
    background-image: url("../images/git.jpeg");
    background-size: contain;
    transition: opacity .3s ease;
}

#gitHubIconRed {
    background-image: url("../images/redgithub.png");
    background-size: contain;
}

#gitHubIconBlack:hover {
    opacity: 0;
}

#linkedinIconBlack {
    background-image: url("../images/linked.jpeg");
    background-size: contain;
    transition: opacity .3s ease;
}

#linkedinIconRed {
    background-image: url("../images/redlinked.png");
    background-size: contain;
}

#linkedinIconBlack:hover {
    opacity: 0;
}

#stackIconBlack {
    background-image: url("../images/stackoverflowblack.png");
    background-size: contain;
    transition: opacity .3s ease;
}

#stackIconRed {
    background-image: url("../images/stackoverflow.png");
    background-size: contain;
}

#stackIconBlack:hover {
    opacity: 0;
}

footer, .push {
    height: 80px;
}

footer {
    background-color: #666666;
    border-top: 8px solid #4aaaa5;
    line-height: 80px;
    color: #CCCCCC;
    text-align: center;
}

#copyright {
    margin: 0px;
}

/* Additional Screen Sizes */

/* Width at 980px and below */
@media screen and (max-width: 980px) {
  body {
    background-color: #333;
  }

  .wrapper {
    /* Box-model */
    width: 100%;
    padding: 20px;
  }

  #main-content,
  #sidebar {
    width: 100%;
  }

  #sidebar {
    margin-top: 40px;
  }
}

/* Additional Screen Sizes */

/* Width at 768px and below */
@media screen and (max-width: 768px) {
  body {
    background-color: #333;
  }

  .wrapper {
    /* Box-model */
    width: 100%;
    padding: 20px;
  }

  #main-content,
  #sidebar {
    width: 100%;
  }

  #sidebar {
    margin-top: 40px;
  }
}

/* Width at 640px and below */
@media screen and (max-width: 640px) {
  body {
    background-color: #333;
  }

  .wrapper {
    /* Box-model */
    width: 100%;
    padding: 20px;
  }

  #main-content,
  #sidebar {
    width: 100%;
  }

  #sidebar {
    margin-top: 40px;
  }
}