body {
    font-family: Arial,sans-serif;
    background-color: grey;
}

header {
    background-color: gainsboro;
    margin-bottom: 15px;
    text-align: center;
    width: 85%;
    height: 95px;
    margin-left: auto;
    margin-right: auto;
}

header p {
    text-align: center;
    position: relative;
    align-items: center;
    justify-content: center;
    display: flex;
}

nav {
    background-color: gainsboro;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
    width: 85%;
    height: 95px;
    text-align: center;
}

nav, p{
    text-align: center;
    position: relative;
    align-items: center;
    justify-content: center;
    display: flex;
}

section {
    background-color: gainsboro;
    float: left;
    width: 45.5%;
    height: 250px;
    margin-bottom: 15px;
    text-align: center;
    margin-left: 72px;
}

#aside {
    background-color: gainsboro;
    float: left;
    display: inline-flex;
    width: 37%;
    height: 250px;
    margin-left: 26px;
    position: relative;
    align-items: center;
    justify-content: center;
    display: flex;
}

#aside p {
    margin: 0px;
    text-align: center;
}

article {
    color: white;
    background-color: grey;
    width: 85%;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}

.h {
    color: black;
    background-color: gainsboro;
    margin-left: auto;
    margin-right: auto;
    width: 92%;
    margin-top: 15px;
    height: 48px;
}

p {
    color: black;
    background-color: gainsboro;
    margin-left: auto;
    margin-right: auto;
    width: 92%;
    margin-top: 4px;
    height: 49px;
}

footer {
    background-color: gainsboro;
    margin-top: 280px;
    width: 85%;
    height: 95px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

footer, p {
    text-align: center;
    position: relative;
    align-items: center;
    justify-content: center;
    display: flex;
}